name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.3'
          channel: 'stable'
          cache: true

      - name: Install dependencies
        run: flutter pub get

      # לא מפילים את ה-CI על אזהרות של analyze
      - name: Run Flutter analyze (allow warnings)
        run: flutter analyze
        continue-on-error: true

      - name: Run tests
        run: flutter test --reporter expanded
